@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.layout__index .section__index .section__container .fondo__titulo, .layout__entrenamientos .section__index .section__container .fondo__titulo, .layout__sobremi .section__index .section__container .fondo__titulo, .layout__planes .section__index .section__container .fondo__titulo, .layout__contacto .section__index .section__container .fondo__titulo, .layout__index .section__sobremi .section__container--texto .container__titulo, .layout__entrenamientos .section__sobremi .section__container--texto .container__titulo, .layout__sobremi .section__sobremi .section__container--texto .container__titulo, .layout__planes .section__sobremi .section__container--texto .container__titulo, .layout__contacto .section__sobremi .section__container--texto .container__titulo, .layout__index .section__planes .section__titulo--planes .planes--titulo, .layout__entrenamientos .section__planes .section__titulo--planes .planes--titulo, .layout__sobremi .section__planes .section__titulo--planes .planes--titulo, .layout__planes .section__planes .section__titulo--planes .planes--titulo, .layout__contacto .section__planes .section__titulo--planes .planes--titulo {
  color: #F92C00;
  font-size: 80px;
  font-weight: 1000;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 3px;
  -webkit-text-stroke: 0.5px black; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; }

/* VISTA DESKTOP */
.layout__index, .layout__entrenamientos, .layout__sobremi, .layout__planes, .layout__contacto {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header" "section section" "footer footer";
  grid-template-rows: 70px auto 70px;
  /* HEADER */
  /* INDEX SECTION*/
  /* SOBRE MI SECTION */
  /* ENTRENAMIENTOS SECTION*/
  /* Planes SECTION*/ }
  .layout__index .header, .layout__entrenamientos .header, .layout__sobremi .header, .layout__planes .header, .layout__contacto .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    color: white; }
    .layout__index .header .navbar__titulo, .layout__entrenamientos .header .navbar__titulo, .layout__sobremi .header .navbar__titulo, .layout__planes .header .navbar__titulo, .layout__contacto .header .navbar__titulo {
      display: flex;
      flex-direction: row;
      font-size: 32px;
      text-transform: uppercase;
      padding: 8px 16px; }
      .layout__index .header .navbar__titulo .logo, .layout__entrenamientos .header .navbar__titulo .logo, .layout__sobremi .header .navbar__titulo .logo, .layout__planes .header .navbar__titulo .logo, .layout__contacto .header .navbar__titulo .logo {
        width: 50px; }
    .layout__index .header .navbar__nav, .layout__entrenamientos .header .navbar__nav, .layout__sobremi .header .navbar__nav, .layout__planes .header .navbar__nav, .layout__contacto .header .navbar__nav {
      display: flex;
      flex-direction: row; }
      .layout__index .header .navbar__nav .nav-link-active, .layout__entrenamientos .header .navbar__nav .nav-link-active, .layout__sobremi .header .navbar__nav .nav-link-active, .layout__planes .header .navbar__nav .nav-link-active, .layout__contacto .header .navbar__nav .nav-link-active {
        background-color: #F92C00;
        border-radius: 5px; }
      .layout__index .header .navbar__nav .nav-link, .layout__entrenamientos .header .navbar__nav .nav-link, .layout__sobremi .header .navbar__nav .nav-link, .layout__planes .header .navbar__nav .nav-link, .layout__contacto .header .navbar__nav .nav-link {
        color: white;
        font-size: 16px;
        padding: 12px 12px;
        text-decoration: none;
        text-transform: uppercase; }
        .layout__index .header .navbar__nav .nav-link:hover, .layout__entrenamientos .header .navbar__nav .nav-link:hover, .layout__sobremi .header .navbar__nav .nav-link:hover, .layout__planes .header .navbar__nav .nav-link:hover, .layout__contacto .header .navbar__nav .nav-link:hover {
          background-color: #F92C00;
          border-radius: 5px; }
  .layout__index .section__index, .layout__entrenamientos .section__index, .layout__sobremi .section__index, .layout__planes .section__index, .layout__contacto .section__index {
    grid-area: section;
    background: no-repeat, url(../IMG/training2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Bebas Neue", cursive;
    opacity: 0.9;
    color: white;
    background-size: 100% 100%;
    height: 100%; }
    .layout__index .section__index .section__container, .layout__entrenamientos .section__index .section__container, .layout__sobremi .section__index .section__container, .layout__planes .section__index .section__container, .layout__contacto .section__index .section__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .layout__index .section__index .section__container .fondo__titulo--subtitulo, .layout__entrenamientos .section__index .section__container .fondo__titulo--subtitulo, .layout__sobremi .section__index .section__container .fondo__titulo--subtitulo, .layout__planes .section__index .section__container .fondo__titulo--subtitulo, .layout__contacto .section__index .section__container .fondo__titulo--subtitulo {
        font-size: 40px;
        padding: 1px;
        -webkit-text-stroke: 0.5px black; }
    .layout__index .section__index .boton__container, .layout__entrenamientos .section__index .boton__container, .layout__sobremi .section__index .boton__container, .layout__planes .section__index .boton__container, .layout__contacto .section__index .boton__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .layout__index .section__index .boton__container .boton__vermas, .layout__entrenamientos .section__index .boton__container .boton__vermas, .layout__sobremi .section__index .boton__container .boton__vermas, .layout__planes .section__index .boton__container .boton__vermas, .layout__contacto .section__index .boton__container .boton__vermas {
        color: white;
        font-size: 30px;
        border: 1px, solid, #F92C00;
        background-color: #F92C00;
        margin-top: 20px;
        padding: 20px;
        -webkit-text-stroke: 0.3px black;
        border-radius: 5px; }
  .layout__index .section__sobremi, .layout__entrenamientos .section__sobremi, .layout__sobremi .section__sobremi, .layout__planes .section__sobremi, .layout__contacto .section__sobremi {
    grid-area: section;
    display: flex;
    flex-direction: row; }
    .layout__index .section__sobremi .section__container--img, .layout__entrenamientos .section__sobremi .section__container--img, .layout__sobremi .section__sobremi .section__container--img, .layout__planes .section__sobremi .section__container--img, .layout__contacto .section__sobremi .section__container--img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .layout__index .section__sobremi .section__container--img .sobremi-img, .layout__entrenamientos .section__sobremi .section__container--img .sobremi-img, .layout__sobremi .section__sobremi .section__container--img .sobremi-img, .layout__planes .section__sobremi .section__container--img .sobremi-img, .layout__contacto .section__sobremi .section__container--img .sobremi-img {
        width: 55%;
        height: 100%; }
    .layout__index .section__sobremi .section__container--texto, .layout__entrenamientos .section__sobremi .section__container--texto, .layout__sobremi .section__sobremi .section__container--texto, .layout__planes .section__sobremi .section__container--texto, .layout__contacto .section__sobremi .section__container--texto {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      justify-content: center; }
      .layout__index .section__sobremi .section__container--texto .container__titulo, .layout__entrenamientos .section__sobremi .section__container--texto .container__titulo, .layout__sobremi .section__sobremi .section__container--texto .container__titulo, .layout__planes .section__sobremi .section__container--texto .container__titulo, .layout__contacto .section__sobremi .section__container--texto .container__titulo {
        font-size: 65px; }
      .layout__index .section__sobremi .section__container--texto .container__texto, .layout__entrenamientos .section__sobremi .section__container--texto .container__texto, .layout__sobremi .section__sobremi .section__container--texto .container__texto, .layout__planes .section__sobremi .section__container--texto .container__texto, .layout__contacto .section__sobremi .section__container--texto .container__texto {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        line-height: 2.5;
        margin-right: 60px;
        font-weight: bold; }
  .layout__index .section__titulo--entrenamientos, .layout__entrenamientos .section__titulo--entrenamientos, .layout__sobremi .section__titulo--entrenamientos, .layout__planes .section__titulo--entrenamientos, .layout__contacto .section__titulo--entrenamientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px; }
    .layout__index .section__titulo--entrenamientos .entrenamientos--titulo, .layout__entrenamientos .section__titulo--entrenamientos .entrenamientos--titulo, .layout__sobremi .section__titulo--entrenamientos .entrenamientos--titulo, .layout__planes .section__titulo--entrenamientos .entrenamientos--titulo, .layout__contacto .section__titulo--entrenamientos .entrenamientos--titulo {
      color: #F92C00;
      font-size: 30px;
      font-family: "Bebas Neue", cursive;
      letter-spacing: 3px; }
    .layout__index .section__titulo--entrenamientos .entrenamientos--subtitulo, .layout__entrenamientos .section__titulo--entrenamientos .entrenamientos--subtitulo, .layout__sobremi .section__titulo--entrenamientos .entrenamientos--subtitulo, .layout__planes .section__titulo--entrenamientos .entrenamientos--subtitulo, .layout__contacto .section__titulo--entrenamientos .entrenamientos--subtitulo {
      margin-top: 15px;
      font-size: 50px;
      font-family: "Bebas Neue", cursive;
      letter-spacing: 3px; }
  .layout__index .section__cards, .layout__entrenamientos .section__cards, .layout__sobremi .section__cards, .layout__planes .section__cards, .layout__contacto .section__cards {
    display: flex;
    flex-direction: row;
    justify-items: center;
    text-align: center;
    padding-top: 100px;
    width: auto; }
    .layout__index .section__cards .card__musculacion, .layout__entrenamientos .section__cards .card__musculacion, .layout__sobremi .section__cards .card__musculacion, .layout__planes .section__cards .card__musculacion, .layout__contacto .section__cards .card__musculacion {
      transform: skew(-10deg);
      margin-left: 30px; }
    .layout__index .section__cards .card__cardio, .layout__index .section__cards .card__funcional, .layout__index .section__cards .card__stretching, .layout__entrenamientos .section__cards .card__cardio, .layout__entrenamientos .section__cards .card__funcional, .layout__entrenamientos .section__cards .card__stretching, .layout__sobremi .section__cards .card__cardio, .layout__sobremi .section__cards .card__funcional, .layout__sobremi .section__cards .card__stretching, .layout__planes .section__cards .card__cardio, .layout__planes .section__cards .card__funcional, .layout__planes .section__cards .card__stretching, .layout__contacto .section__cards .card__cardio, .layout__contacto .section__cards .card__funcional, .layout__contacto .section__cards .card__stretching {
      border-left: 1px dashed black;
      transform: skew(-10deg); }
    .layout__index .section__cards .card__stretching, .layout__entrenamientos .section__cards .card__stretching, .layout__sobremi .section__cards .card__stretching, .layout__planes .section__cards .card__stretching, .layout__contacto .section__cards .card__stretching {
      margin-right: 38px; }
    .layout__index .section__cards .cards__img, .layout__entrenamientos .section__cards .cards__img, .layout__sobremi .section__cards .cards__img, .layout__planes .section__cards .cards__img, .layout__contacto .section__cards .cards__img {
      height: 100px;
      width: 100px; }
    .layout__index .section__cards .cards__titulo, .layout__entrenamientos .section__cards .cards__titulo, .layout__sobremi .section__cards .cards__titulo, .layout__planes .section__cards .cards__titulo, .layout__contacto .section__cards .cards__titulo {
      font-size: 40px;
      margin-top: 20px;
      margin-bottom: 30px; }
    .layout__index .section__cards .cards__texto, .layout__entrenamientos .section__cards .cards__texto, .layout__sobremi .section__cards .cards__texto, .layout__planes .section__cards .cards__texto, .layout__contacto .section__cards .cards__texto {
      padding: 15px;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      line-height: 2.5;
      font-weight: bold; }
  .layout__index .section__planes, .layout__entrenamientos .section__planes, .layout__sobremi .section__planes, .layout__planes .section__planes, .layout__contacto .section__planes {
    grid-area: section;
    width: 100%; }
    .layout__index .section__planes .section__titulo--planes, .layout__entrenamientos .section__planes .section__titulo--planes, .layout__sobremi .section__planes .section__titulo--planes, .layout__planes .section__planes .section__titulo--planes, .layout__contacto .section__planes .section__titulo--planes {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      margin-bottom: 20px; }
    .layout__index .section__planes .container__planes, .layout__entrenamientos .section__planes .container__planes, .layout__sobremi .section__planes .container__planes, .layout__planes .section__planes .container__planes, .layout__contacto .section__planes .container__planes {
      display: flex;
      flex-direction: row;
      justify-items: center;
      text-align: center;
      width: auto;
      justify-content: center; }
      .layout__index .section__planes .container__planes .plan__diario, .layout__index .section__planes .container__planes .plan__semanal, .layout__index .section__planes .container__planes .plan__mensual, .layout__entrenamientos .section__planes .container__planes .plan__diario, .layout__entrenamientos .section__planes .container__planes .plan__semanal, .layout__entrenamientos .section__planes .container__planes .plan__mensual, .layout__sobremi .section__planes .container__planes .plan__diario, .layout__sobremi .section__planes .container__planes .plan__semanal, .layout__sobremi .section__planes .container__planes .plan__mensual, .layout__planes .section__planes .container__planes .plan__diario, .layout__planes .section__planes .container__planes .plan__semanal, .layout__planes .section__planes .container__planes .plan__mensual, .layout__contacto .section__planes .container__planes .plan__diario, .layout__contacto .section__planes .container__planes .plan__semanal, .layout__contacto .section__planes .container__planes .plan__mensual {
        background: #262626;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
        transition: 0.9s;
        margin-left: 30px;
        padding: 40px 60px 40px 60px; }
        .layout__index .section__planes .container__planes .plan__diario:hover, .layout__index .section__planes .container__planes .plan__semanal:hover, .layout__index .section__planes .container__planes .plan__mensual:hover, .layout__entrenamientos .section__planes .container__planes .plan__diario:hover, .layout__entrenamientos .section__planes .container__planes .plan__semanal:hover, .layout__entrenamientos .section__planes .container__planes .plan__mensual:hover, .layout__sobremi .section__planes .container__planes .plan__diario:hover, .layout__sobremi .section__planes .container__planes .plan__semanal:hover, .layout__sobremi .section__planes .container__planes .plan__mensual:hover, .layout__planes .section__planes .container__planes .plan__diario:hover, .layout__planes .section__planes .container__planes .plan__semanal:hover, .layout__planes .section__planes .container__planes .plan__mensual:hover, .layout__contacto .section__planes .container__planes .plan__diario:hover, .layout__contacto .section__planes .container__planes .plan__semanal:hover, .layout__contacto .section__planes .container__planes .plan__mensual:hover {
          background: #da4357;
          color: white;
          box-shadow: 0 0 15px black;
          transform: scale(1.1);
          z-index: 1;
          border-radius: 25px; }
        .layout__index .section__planes .container__planes .plan__diario .container__titulo--plan, .layout__index .section__planes .container__planes .plan__semanal .container__titulo--plan, .layout__index .section__planes .container__planes .plan__mensual .container__titulo--plan, .layout__entrenamientos .section__planes .container__planes .plan__diario .container__titulo--plan, .layout__entrenamientos .section__planes .container__planes .plan__semanal .container__titulo--plan, .layout__entrenamientos .section__planes .container__planes .plan__mensual .container__titulo--plan, .layout__sobremi .section__planes .container__planes .plan__diario .container__titulo--plan, .layout__sobremi .section__planes .container__planes .plan__semanal .container__titulo--plan, .layout__sobremi .section__planes .container__planes .plan__mensual .container__titulo--plan, .layout__planes .section__planes .container__planes .plan__diario .container__titulo--plan, .layout__planes .section__planes .container__planes .plan__semanal .container__titulo--plan, .layout__planes .section__planes .container__planes .plan__mensual .container__titulo--plan, .layout__contacto .section__planes .container__planes .plan__diario .container__titulo--plan, .layout__contacto .section__planes .container__planes .plan__semanal .container__titulo--plan, .layout__contacto .section__planes .container__planes .plan__mensual .container__titulo--plan {
          color: white;
          font-size: 40px;
          font-family: "Open Sans", sans-serif;
          letter-spacing: 3px;
          margin-top: 20px;
          margin-bottom: 40px; }
        .layout__index .section__planes .container__planes .plan__diario .container__precio--plan, .layout__index .section__planes .container__planes .plan__semanal .container__precio--plan, .layout__index .section__planes .container__planes .plan__mensual .container__precio--plan, .layout__entrenamientos .section__planes .container__planes .plan__diario .container__precio--plan, .layout__entrenamientos .section__planes .container__planes .plan__semanal .container__precio--plan, .layout__entrenamientos .section__planes .container__planes .plan__mensual .container__precio--plan, .layout__sobremi .section__planes .container__planes .plan__diario .container__precio--plan, .layout__sobremi .section__planes .container__planes .plan__semanal .container__precio--plan, .layout__sobremi .section__planes .container__planes .plan__mensual .container__precio--plan, .layout__planes .section__planes .container__planes .plan__diario .container__precio--plan, .layout__planes .section__planes .container__planes .plan__semanal .container__precio--plan, .layout__planes .section__planes .container__planes .plan__mensual .container__precio--plan, .layout__contacto .section__planes .container__planes .plan__diario .container__precio--plan, .layout__contacto .section__planes .container__planes .plan__semanal .container__precio--plan, .layout__contacto .section__planes .container__planes .plan__mensual .container__precio--plan {
          border-radius: 50%;
          border: 2px solid #da4357;
          margin: 5% auto 0 auto;
          font-size: 35px;
          color: white;
          padding: 30px; }
        .layout__index .section__planes .container__planes .plan__diario .container__items--plan, .layout__index .section__planes .container__planes .plan__semanal .container__items--plan, .layout__index .section__planes .container__planes .plan__mensual .container__items--plan, .layout__entrenamientos .section__planes .container__planes .plan__diario .container__items--plan, .layout__entrenamientos .section__planes .container__planes .plan__semanal .container__items--plan, .layout__entrenamientos .section__planes .container__planes .plan__mensual .container__items--plan, .layout__sobremi .section__planes .container__planes .plan__diario .container__items--plan, .layout__sobremi .section__planes .container__planes .plan__semanal .container__items--plan, .layout__sobremi .section__planes .container__planes .plan__mensual .container__items--plan, .layout__planes .section__planes .container__planes .plan__diario .container__items--plan, .layout__planes .section__planes .container__planes .plan__semanal .container__items--plan, .layout__planes .section__planes .container__planes .plan__mensual .container__items--plan, .layout__contacto .section__planes .container__planes .plan__diario .container__items--plan, .layout__contacto .section__planes .container__planes .plan__semanal .container__items--plan, .layout__contacto .section__planes .container__planes .plan__mensual .container__items--plan {
          padding: 15px;
          color: white;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          line-height: 2.5;
          font-weight: bold; }

/* CONTACTO SECTION*/
.section__contacto {
  grid-area: section;
  display: flex;
  flex-direction: row; }
  .section__contacto .section__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #262626;
    border-radius: 5px;
    margin: 100px;
    box-shadow: 0 0 15px black; }
    .section__contacto .section__form .form__titulo {
      margin-top: 15px;
      font-size: 50px;
      font-family: "Bebas Neue", cursive;
      letter-spacing: 3px;
      padding-left: 32px;
      color: white; }
    .section__contacto .section__form .form__items {
      display: flex;
      flex-direction: column;
      padding: 16px 32px; }
      .section__contacto .section__form .form__items .label {
        padding: 12px 0px;
        font-size: 30px;
        color: white;
        font-family: "Open Sans", sans-serif; }
      .section__contacto .section__form .form__items .input {
        height: 40px;
        border: 2px solid #da4357;
        text-indent: 10px;
        text-transform: capitalize; }
      .section__contacto .section__form .form__items .input--consulta {
        height: 120px;
        border: 2px solid #da4357;
        text-indent: 10px;
        font-size: 20px;
        text-transform: capitalize; }
      .section__contacto .section__form .form__items #email {
        text-transform: lowercase; }
      .section__contacto .section__form .form__items .boton__enviar {
        width: 10rem;
        padding: 10px;
        margin-top: 20px;
        font-size: 20px;
        background: #da4357;
        color: white;
        box-shadow: 0 0 15px black;
        cursor: pointer; }
        .section__contacto .section__form .form__items .boton__enviar:hover {
          transform: scale(1.1);
          transition: 0.5s; }

.section__map {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 100px; }
  .section__map .map__titulo {
    margin-top: 15px;
    font-size: 50px;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 3px; }
  .section__map .map {
    height: 500px;
    width: 600px; }

/*FOOTER*/
.footer {
  grid-area: footer;
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .footer .footer__texto {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 50px;
    color: white; }
  .footer .footer__icons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 80px; }
    .footer .footer__icons .whatsapp {
      height: 50px; }
    .footer .footer__icons .instagram {
      height: 50px; }

/* VISTA MOBILE (Uso el tamaño de mi celular, Galaxy S20FE */
@media only screen and (min-width: 0px) and (max-width: 412px) {
  .layout__index, .layout__entrenamientos, .layout__sobremi, .layout__planes, .layout__contacto {
    display: grid;
    grid-template-areas: "header header" "section section" "footer footer";
    grid-template-rows: 105px 1fr 70px;
    height: 100vh;
    /* HEADER */
    /* INDEX SECTION*/
    /* SOBRE MI SECTION */
    /* ENTRENAMIENTOS SECTION*/
    /* Planes SECTION*/
    /* CONTACTO SECTION*/ }
    .layout__index .header, .layout__entrenamientos .header, .layout__sobremi .header, .layout__planes .header, .layout__contacto .header {
      grid-area: header;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      font-family: "Open Sans", sans-serif;
      color: white; }
      .layout__index .header .navbar__titulo, .layout__entrenamientos .header .navbar__titulo, .layout__sobremi .header .navbar__titulo, .layout__planes .header .navbar__titulo, .layout__contacto .header .navbar__titulo {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        text-transform: uppercase;
        padding: 8px;
        align-items: center; }
        .layout__index .header .navbar__titulo .logo, .layout__entrenamientos .header .navbar__titulo .logo, .layout__sobremi .header .navbar__titulo .logo, .layout__planes .header .navbar__titulo .logo, .layout__contacto .header .navbar__titulo .logo {
          width: 50px; }
      .layout__index .header .navbar__nav, .layout__entrenamientos .header .navbar__nav, .layout__sobremi .header .navbar__nav, .layout__planes .header .navbar__nav, .layout__contacto .header .navbar__nav {
        display: flex;
        flex-direction: row; }
        .layout__index .header .navbar__nav .nav-link, .layout__entrenamientos .header .navbar__nav .nav-link, .layout__sobremi .header .navbar__nav .nav-link, .layout__planes .header .navbar__nav .nav-link, .layout__contacto .header .navbar__nav .nav-link {
          color: white;
          font-size: 10px;
          padding: 12px 12px;
          text-decoration: none;
          text-transform: uppercase; }
          .layout__index .header .navbar__nav .nav-link:hover, .layout__entrenamientos .header .navbar__nav .nav-link:hover, .layout__sobremi .header .navbar__nav .nav-link:hover, .layout__planes .header .navbar__nav .nav-link:hover, .layout__contacto .header .navbar__nav .nav-link:hover {
            background-color: #F92C00; }
          .layout__index .header .navbar__nav .nav-link .nav-link-active, .layout__entrenamientos .header .navbar__nav .nav-link .nav-link-active, .layout__sobremi .header .navbar__nav .nav-link .nav-link-active, .layout__planes .header .navbar__nav .nav-link .nav-link-active, .layout__contacto .header .navbar__nav .nav-link .nav-link-active {
            background-color: #F92C00; }
    .layout__index .section__index, .layout__entrenamientos .section__index, .layout__sobremi .section__index, .layout__planes .section__index, .layout__contacto .section__index {
      grid-area: section;
      background: no-repeat, url(../IMG/training2.jpg);
      opacity: 0.9;
      background-size: 100% 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "Bebas Neue", cursive;
      opacity: 0.9;
      color: white; }
      .layout__index .section__index .section__container, .layout__entrenamientos .section__index .section__container, .layout__sobremi .section__index .section__container, .layout__planes .section__index .section__container, .layout__contacto .section__index .section__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .layout__index .section__index .section__container .fondo__titulo, .layout__entrenamientos .section__index .section__container .fondo__titulo, .layout__sobremi .section__index .section__container .fondo__titulo, .layout__planes .section__index .section__container .fondo__titulo, .layout__contacto .section__index .section__container .fondo__titulo {
          font-size: 65px;
          font-weight: 1000;
          color: #F92C00;
          padding: 20px;
          -webkit-text-stroke: 0.5px black; }
        .layout__index .section__index .section__container .fondo__titulo--subtitulo, .layout__entrenamientos .section__index .section__container .fondo__titulo--subtitulo, .layout__sobremi .section__index .section__container .fondo__titulo--subtitulo, .layout__planes .section__index .section__container .fondo__titulo--subtitulo, .layout__contacto .section__index .section__container .fondo__titulo--subtitulo {
          font-size: 30px;
          padding: 1px;
          -webkit-text-stroke: 0.5px black; }
      .layout__index .section__index .boton__container, .layout__entrenamientos .section__index .boton__container, .layout__sobremi .section__index .boton__container, .layout__planes .section__index .boton__container, .layout__contacto .section__index .boton__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .layout__index .section__index .boton__container .boton__vermas, .layout__entrenamientos .section__index .boton__container .boton__vermas, .layout__sobremi .section__index .boton__container .boton__vermas, .layout__planes .section__index .boton__container .boton__vermas, .layout__contacto .section__index .boton__container .boton__vermas {
          color: white;
          font-size: 25px;
          border: 1px, solid, #F92C00;
          background-color: #F92C00;
          margin-top: 15px;
          padding: 15px;
          -webkit-text-stroke: 0.5px black; }
    .layout__index .section__sobremi, .layout__entrenamientos .section__sobremi, .layout__sobremi .section__sobremi, .layout__planes .section__sobremi, .layout__contacto .section__sobremi {
      grid-area: section;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .layout__index .section__sobremi .section__container--img, .layout__entrenamientos .section__sobremi .section__container--img, .layout__sobremi .section__sobremi .section__container--img, .layout__planes .section__sobremi .section__container--img, .layout__contacto .section__sobremi .section__container--img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; }
        .layout__index .section__sobremi .section__container--img .sobremi-img, .layout__entrenamientos .section__sobremi .section__container--img .sobremi-img, .layout__sobremi .section__sobremi .section__container--img .sobremi-img, .layout__planes .section__sobremi .section__container--img .sobremi-img, .layout__contacto .section__sobremi .section__container--img .sobremi-img {
          width: 55%;
          height: 100%; }
      .layout__index .section__sobremi .section__container--texto, .layout__entrenamientos .section__sobremi .section__container--texto, .layout__sobremi .section__sobremi .section__container--texto, .layout__planes .section__sobremi .section__container--texto, .layout__contacto .section__sobremi .section__container--texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center; }
        .layout__index .section__sobremi .section__container--texto .container__titulo, .layout__entrenamientos .section__sobremi .section__container--texto .container__titulo, .layout__sobremi .section__sobremi .section__container--texto .container__titulo, .layout__planes .section__sobremi .section__container--texto .container__titulo, .layout__contacto .section__sobremi .section__container--texto .container__titulo {
          font-size: 80px;
          font-weight: 1000;
          color: #F92C00;
          font-family: "Bebas Neue", cursive;
          display: flex;
          -webkit-text-stroke: 0.5px black; }
        .layout__index .section__sobremi .section__container--texto .container__texto, .layout__entrenamientos .section__sobremi .section__container--texto .container__texto, .layout__sobremi .section__sobremi .section__container--texto .container__texto, .layout__planes .section__sobremi .section__container--texto .container__texto, .layout__contacto .section__sobremi .section__container--texto .container__texto {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          line-height: 2.5;
          margin: 0px;
          font-weight: bold; }
    .layout__index .section__titulo--entrenamientos, .layout__entrenamientos .section__titulo--entrenamientos, .layout__sobremi .section__titulo--entrenamientos, .layout__planes .section__titulo--entrenamientos, .layout__contacto .section__titulo--entrenamientos {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px; }
      .layout__index .section__titulo--entrenamientos .entrenamientos--titulo, .layout__entrenamientos .section__titulo--entrenamientos .entrenamientos--titulo, .layout__sobremi .section__titulo--entrenamientos .entrenamientos--titulo, .layout__planes .section__titulo--entrenamientos .entrenamientos--titulo, .layout__contacto .section__titulo--entrenamientos .entrenamientos--titulo {
        color: #F92C00;
        font-size: 30px;
        font-family: "Bebas Neue", cursive;
        letter-spacing: 3px; }
      .layout__index .section__titulo--entrenamientos .entrenamientos--subtitulo, .layout__entrenamientos .section__titulo--entrenamientos .entrenamientos--subtitulo, .layout__sobremi .section__titulo--entrenamientos .entrenamientos--subtitulo, .layout__planes .section__titulo--entrenamientos .entrenamientos--subtitulo, .layout__contacto .section__titulo--entrenamientos .entrenamientos--subtitulo {
        margin-top: 15px;
        font-size: 50px;
        font-family: "Bebas Neue", cursive;
        letter-spacing: 3px;
        text-align: center; }
    .layout__index .section__cards, .layout__entrenamientos .section__cards, .layout__sobremi .section__cards, .layout__planes .section__cards, .layout__contacto .section__cards {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-items: center;
      text-align: center;
      padding-top: 100px;
      width: auto;
      align-items: center; }
      .layout__index .section__cards .card__musculacion, .layout__index .section__cards .card__cardio, .layout__index .section__cards .card__funcional, .layout__index .section__cards .card__stretching, .layout__entrenamientos .section__cards .card__musculacion, .layout__entrenamientos .section__cards .card__cardio, .layout__entrenamientos .section__cards .card__funcional, .layout__entrenamientos .section__cards .card__stretching, .layout__sobremi .section__cards .card__musculacion, .layout__sobremi .section__cards .card__cardio, .layout__sobremi .section__cards .card__funcional, .layout__sobremi .section__cards .card__stretching, .layout__planes .section__cards .card__musculacion, .layout__planes .section__cards .card__cardio, .layout__planes .section__cards .card__funcional, .layout__planes .section__cards .card__stretching, .layout__contacto .section__cards .card__musculacion, .layout__contacto .section__cards .card__cardio, .layout__contacto .section__cards .card__funcional, .layout__contacto .section__cards .card__stretching {
        border: none;
        transform: none; }
    .layout__index .cards__texto, .layout__entrenamientos .cards__texto, .layout__sobremi .cards__texto, .layout__planes .cards__texto, .layout__contacto .cards__texto {
      padding: 15px;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      line-height: 2.5; }
    .layout__index .section__planes, .layout__entrenamientos .section__planes, .layout__sobremi .section__planes, .layout__planes .section__planes, .layout__contacto .section__planes {
      grid-area: section;
      width: 100%; }
      .layout__index .section__planes .section__titulo--planes, .layout__entrenamientos .section__planes .section__titulo--planes, .layout__sobremi .section__planes .section__titulo--planes, .layout__planes .section__planes .section__titulo--planes, .layout__contacto .section__planes .section__titulo--planes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 20px; }
        .layout__index .section__planes .section__titulo--planes .planes--titulo, .layout__entrenamientos .section__planes .section__titulo--planes .planes--titulo, .layout__sobremi .section__planes .section__titulo--planes .planes--titulo, .layout__planes .section__planes .section__titulo--planes .planes--titulo, .layout__contacto .section__planes .section__titulo--planes .planes--titulo {
          color: #F92C00;
          font-size: 65px;
          font-weight: 1000;
          font-family: "Bebas Neue", cursive;
          letter-spacing: 3px;
          -webkit-text-stroke: 0.5px black; }
      .layout__index .section__planes .container__planes, .layout__entrenamientos .section__planes .container__planes, .layout__sobremi .section__planes .container__planes, .layout__planes .section__planes .container__planes, .layout__contacto .section__planes .container__planes {
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        width: auto;
        justify-content: center; }
        .layout__index .section__planes .container__planes .plan__diario, .layout__index .section__planes .container__planes .plan__semanal, .layout__index .section__planes .container__planes .plan__mensual, .layout__entrenamientos .section__planes .container__planes .plan__diario, .layout__entrenamientos .section__planes .container__planes .plan__semanal, .layout__entrenamientos .section__planes .container__planes .plan__mensual, .layout__sobremi .section__planes .container__planes .plan__diario, .layout__sobremi .section__planes .container__planes .plan__semanal, .layout__sobremi .section__planes .container__planes .plan__mensual, .layout__planes .section__planes .container__planes .plan__diario, .layout__planes .section__planes .container__planes .plan__semanal, .layout__planes .section__planes .container__planes .plan__mensual, .layout__contacto .section__planes .container__planes .plan__diario, .layout__contacto .section__planes .container__planes .plan__semanal, .layout__contacto .section__planes .container__planes .plan__mensual {
          background: #262626;
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
          transition: 0.9s;
          padding: 40px 60px 40px 60px;
          margin-left: 0px; }
          .layout__index .section__planes .container__planes .plan__diario:hover, .layout__index .section__planes .container__planes .plan__semanal:hover, .layout__index .section__planes .container__planes .plan__mensual:hover, .layout__entrenamientos .section__planes .container__planes .plan__diario:hover, .layout__entrenamientos .section__planes .container__planes .plan__semanal:hover, .layout__entrenamientos .section__planes .container__planes .plan__mensual:hover, .layout__sobremi .section__planes .container__planes .plan__diario:hover, .layout__sobremi .section__planes .container__planes .plan__semanal:hover, .layout__sobremi .section__planes .container__planes .plan__mensual:hover, .layout__planes .section__planes .container__planes .plan__diario:hover, .layout__planes .section__planes .container__planes .plan__semanal:hover, .layout__planes .section__planes .container__planes .plan__mensual:hover, .layout__contacto .section__planes .container__planes .plan__diario:hover, .layout__contacto .section__planes .container__planes .plan__semanal:hover, .layout__contacto .section__planes .container__planes .plan__mensual:hover {
            background: #da4357;
            color: white;
            box-shadow: 0 0 15px black;
            transform: scale(1.1);
            z-index: 1;
            border-radius: 25px; }
          .layout__index .section__planes .container__planes .plan__diario .container__titulo--plan, .layout__index .section__planes .container__planes .plan__semanal .container__titulo--plan, .layout__index .section__planes .container__planes .plan__mensual .container__titulo--plan, .layout__entrenamientos .section__planes .container__planes .plan__diario .container__titulo--plan, .layout__entrenamientos .section__planes .container__planes .plan__semanal .container__titulo--plan, .layout__entrenamientos .section__planes .container__planes .plan__mensual .container__titulo--plan, .layout__sobremi .section__planes .container__planes .plan__diario .container__titulo--plan, .layout__sobremi .section__planes .container__planes .plan__semanal .container__titulo--plan, .layout__sobremi .section__planes .container__planes .plan__mensual .container__titulo--plan, .layout__planes .section__planes .container__planes .plan__diario .container__titulo--plan, .layout__planes .section__planes .container__planes .plan__semanal .container__titulo--plan, .layout__planes .section__planes .container__planes .plan__mensual .container__titulo--plan, .layout__contacto .section__planes .container__planes .plan__diario .container__titulo--plan, .layout__contacto .section__planes .container__planes .plan__semanal .container__titulo--plan, .layout__contacto .section__planes .container__planes .plan__mensual .container__titulo--plan {
            color: white;
            font-size: 40px;
            font-family: "Open Sans", sans-serif;
            letter-spacing: 3px;
            margin-top: 20px;
            margin-bottom: 40px; }
          .layout__index .section__planes .container__planes .plan__diario .container__precio--plan, .layout__index .section__planes .container__planes .plan__semanal .container__precio--plan, .layout__index .section__planes .container__planes .plan__mensual .container__precio--plan, .layout__entrenamientos .section__planes .container__planes .plan__diario .container__precio--plan, .layout__entrenamientos .section__planes .container__planes .plan__semanal .container__precio--plan, .layout__entrenamientos .section__planes .container__planes .plan__mensual .container__precio--plan, .layout__sobremi .section__planes .container__planes .plan__diario .container__precio--plan, .layout__sobremi .section__planes .container__planes .plan__semanal .container__precio--plan, .layout__sobremi .section__planes .container__planes .plan__mensual .container__precio--plan, .layout__planes .section__planes .container__planes .plan__diario .container__precio--plan, .layout__planes .section__planes .container__planes .plan__semanal .container__precio--plan, .layout__planes .section__planes .container__planes .plan__mensual .container__precio--plan, .layout__contacto .section__planes .container__planes .plan__diario .container__precio--plan, .layout__contacto .section__planes .container__planes .plan__semanal .container__precio--plan, .layout__contacto .section__planes .container__planes .plan__mensual .container__precio--plan {
            border-radius: 50%;
            border: 2px solid #da4357;
            margin: 5% auto 0 auto;
            font-size: 35px;
            color: white;
            padding: 30px; }
          .layout__index .section__planes .container__planes .plan__diario .container__items--plan, .layout__index .section__planes .container__planes .plan__semanal .container__items--plan, .layout__index .section__planes .container__planes .plan__mensual .container__items--plan, .layout__entrenamientos .section__planes .container__planes .plan__diario .container__items--plan, .layout__entrenamientos .section__planes .container__planes .plan__semanal .container__items--plan, .layout__entrenamientos .section__planes .container__planes .plan__mensual .container__items--plan, .layout__sobremi .section__planes .container__planes .plan__diario .container__items--plan, .layout__sobremi .section__planes .container__planes .plan__semanal .container__items--plan, .layout__sobremi .section__planes .container__planes .plan__mensual .container__items--plan, .layout__planes .section__planes .container__planes .plan__diario .container__items--plan, .layout__planes .section__planes .container__planes .plan__semanal .container__items--plan, .layout__planes .section__planes .container__planes .plan__mensual .container__items--plan, .layout__contacto .section__planes .container__planes .plan__diario .container__items--plan, .layout__contacto .section__planes .container__planes .plan__semanal .container__items--plan, .layout__contacto .section__planes .container__planes .plan__mensual .container__items--plan {
            padding: 15px;
            color: white;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            line-height: 2.5;
            font-weight: bold; }
    .layout__index .section__contacto, .layout__entrenamientos .section__contacto, .layout__sobremi .section__contacto, .layout__planes .section__contacto, .layout__contacto .section__contacto {
      grid-area: section;
      flex-wrap: wrap; }
      .layout__index .section__contacto .section__form, .layout__entrenamientos .section__contacto .section__form, .layout__sobremi .section__contacto .section__form, .layout__planes .section__contacto .section__form, .layout__contacto .section__contacto .section__form {
        width: 100%;
        margin: 0px;
        border-radius: 0px; }
      .layout__index .section__contacto .section__map, .layout__entrenamientos .section__contacto .section__map, .layout__sobremi .section__contacto .section__map, .layout__planes .section__contacto .section__map, .layout__contacto .section__contacto .section__map {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%; }
        .layout__index .section__contacto .section__map .map, .layout__entrenamientos .section__contacto .section__map .map, .layout__sobremi .section__contacto .section__map .map, .layout__planes .section__contacto .section__map .map, .layout__contacto .section__contacto .section__map .map {
          height: 333px;
          width: 400px; } }

/* RESPONSIVE DESKTOP */
@media only screen and (min-width: 413px) and (max-width: 945px) {
  .layout__index, .layout__entrenamientos, .layout__sobremi, .layout__planes, .layout__contacto {
    grid-template-rows: 105px 1fr 70px;
    /* HEADER */
    /* SOBRE MI SECTION */
    /* ENTRENAMIENTOS SECTION*/
    /* Planes SECTION*/ }
    .layout__index .header, .layout__entrenamientos .header, .layout__sobremi .header, .layout__planes .header, .layout__contacto .header {
      grid-area: header;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      .layout__index .header .navbar__titulo, .layout__entrenamientos .header .navbar__titulo, .layout__sobremi .header .navbar__titulo, .layout__planes .header .navbar__titulo, .layout__contacto .header .navbar__titulo {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        text-transform: uppercase;
        padding: 8px;
        align-items: center; }
      .layout__index .header .navbar__nav .nav-link, .layout__entrenamientos .header .navbar__nav .nav-link, .layout__sobremi .header .navbar__nav .nav-link, .layout__planes .header .navbar__nav .nav-link, .layout__contacto .header .navbar__nav .nav-link {
        font-size: 10px;
        padding: 12px 12px; }
    .layout__index .section__sobremi, .layout__entrenamientos .section__sobremi, .layout__sobremi .section__sobremi, .layout__planes .section__sobremi, .layout__contacto .section__sobremi {
      grid-area: section;
      display: flex;
      flex-direction: column; }
      .layout__index .section__sobremi .section__container--texto, .layout__entrenamientos .section__sobremi .section__container--texto, .layout__sobremi .section__sobremi .section__container--texto, .layout__planes .section__sobremi .section__container--texto, .layout__contacto .section__sobremi .section__container--texto {
        align-items: center; }
    .layout__index .section__titulo--entrenamientos, .layout__entrenamientos .section__titulo--entrenamientos, .layout__sobremi .section__titulo--entrenamientos, .layout__planes .section__titulo--entrenamientos, .layout__contacto .section__titulo--entrenamientos {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .layout__index .section__titulo--entrenamientos .entrenamientos--titulo, .layout__entrenamientos .section__titulo--entrenamientos .entrenamientos--titulo, .layout__sobremi .section__titulo--entrenamientos .entrenamientos--titulo, .layout__planes .section__titulo--entrenamientos .entrenamientos--titulo, .layout__contacto .section__titulo--entrenamientos .entrenamientos--titulo {
        font-size: 30px; }
      .layout__index .section__titulo--entrenamientos .entrenamientos--subtitulo, .layout__entrenamientos .section__titulo--entrenamientos .entrenamientos--subtitulo, .layout__sobremi .section__titulo--entrenamientos .entrenamientos--subtitulo, .layout__planes .section__titulo--entrenamientos .entrenamientos--subtitulo, .layout__contacto .section__titulo--entrenamientos .entrenamientos--subtitulo {
        margin-top: 15px;
        font-size: 50px;
        text-align: center; }
    .layout__index .section__cards, .layout__entrenamientos .section__cards, .layout__sobremi .section__cards, .layout__planes .section__cards, .layout__contacto .section__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-items: center;
      text-align: center;
      padding-top: 100px;
      width: auto;
      align-items: center; }
      .layout__index .section__cards .card__cardio, .layout__index .section__cards .card__funcional, .layout__index .section__cards .card__stretching, .layout__entrenamientos .section__cards .card__cardio, .layout__entrenamientos .section__cards .card__funcional, .layout__entrenamientos .section__cards .card__stretching, .layout__sobremi .section__cards .card__cardio, .layout__sobremi .section__cards .card__funcional, .layout__sobremi .section__cards .card__stretching, .layout__planes .section__cards .card__cardio, .layout__planes .section__cards .card__funcional, .layout__planes .section__cards .card__stretching, .layout__contacto .section__cards .card__cardio, .layout__contacto .section__cards .card__funcional, .layout__contacto .section__cards .card__stretching {
        transform: none;
        border: none; }
      .layout__index .section__cards .cards__titulo, .layout__entrenamientos .section__cards .cards__titulo, .layout__sobremi .section__cards .cards__titulo, .layout__planes .section__cards .cards__titulo, .layout__contacto .section__cards .cards__titulo {
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 30px; }
      .layout__index .section__cards .cards__texto, .layout__entrenamientos .section__cards .cards__texto, .layout__sobremi .section__cards .cards__texto, .layout__planes .section__cards .cards__texto, .layout__contacto .section__cards .cards__texto {
        padding: 15px;
        font-size: 16px;
        line-height: 2.5; }
    .layout__index .container__planes, .layout__entrenamientos .container__planes, .layout__sobremi .container__planes, .layout__planes .container__planes, .layout__contacto .container__planes {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-items: center;
      text-align: center;
      width: auto;
      justify-content: center; }
      .layout__index .container__planes .plan__diario, .layout__entrenamientos .container__planes .plan__diario, .layout__sobremi .container__planes .plan__diario, .layout__planes .container__planes .plan__diario, .layout__contacto .container__planes .plan__diario {
        padding: 40px 80px 40px 80px; }
    .layout__index .section__contacto, .layout__entrenamientos .section__contacto, .layout__sobremi .section__contacto, .layout__planes .section__contacto, .layout__contacto .section__contacto {
      grid-area: section;
      flex-wrap: wrap; }
      .layout__index .section__contacto .section__form, .layout__entrenamientos .section__contacto .section__form, .layout__sobremi .section__contacto .section__form, .layout__planes .section__contacto .section__form, .layout__contacto .section__contacto .section__form {
        width: 100%; }
      .layout__index .section__contacto .section__map, .layout__entrenamientos .section__contacto .section__map, .layout__sobremi .section__contacto .section__map, .layout__planes .section__contacto .section__map, .layout__contacto .section__contacto .section__map {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%; }
        .layout__index .section__contacto .section__map .map, .layout__entrenamientos .section__contacto .section__map .map, .layout__sobremi .section__contacto .section__map .map, .layout__planes .section__contacto .section__map .map, .layout__contacto .section__contacto .section__map .map {
          height: 416px;
          width: 500px; } }
