@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// Variables
$plan-red: #da4357;
$special-font: 'Bebas Neue', cursive;
$normal-font: 'Open Sans', sans-serif;

// Maps
$estilos:(
    stroke: 0.5px rgb(0, 0, 0),
    rojo: #F92C00,
    iconos: 50px,
);
// Mixins
@mixin flex-column{
    display:flex;
	flex-direction:column;
}
@mixin flex-row{
    display:flex;
	flex-direction:row;
}
// Extends
%titulos{
    color: map-get($estilos, rojo);
    font-size: 80px;
    font-weight: 1000;
    font-family: $special-font;
    letter-spacing: 3px;
    -webkit-text-stroke: map-get($estilos, stroke)    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
    text-decoration: none;
    list-style-type: none;
}
/* VISTA DESKTOP */
.layout__index, .layout__entrenamientos, .layout__sobremi, .layout__planes, .layout__contacto{
    display: grid;
    height: 100vh;
    grid-template-areas: "header header"
                         "section section"
                         "footer footer";
    grid-template-rows: 70px auto 70px;

    /* HEADER */
    .header{
        grid-area: header;
        @include flex-row;
        background-color: black;
        align-items: center;
        justify-content: space-between;
        font-family: $normal-font;
        color: white;

        .navbar__titulo{
            @include flex-row;
            font-size: 32px;
            text-transform: uppercase;
            padding: 8px 16px;

            .logo{
                width: map-get($estilos, iconos);
            }
        }
            .navbar__nav{
                @include flex-row;

                .nav-link-active{
                    background-color: map-get($estilos, rojo);
                    border-radius: 5px;
                }
                .nav-link{
                    color: white;
                    font-size: 16px;
                    padding: 12px 12px;
                    text-decoration: none;
                    text-transform: uppercase;
                    
                        &:hover{
                            background-color: map-get($estilos, rojo);
                            border-radius: 5px;
                        } 
                }
            }
    }
    /* INDEX SECTION*/
    .section__index{
        grid-area: section;
        background: no-repeat, url(../IMG/training2.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        @include flex-column;
        justify-content: center;
        font-family: $special-font;
        opacity: 0.9;
        color: white;
        background-size: 100% 100%;
        height: 100%;

        .section__container{
            @include flex-column;
            justify-content: center;
            align-items: center;

            .fondo__titulo{
                @extend %titulos;
            }
            .fondo__titulo--subtitulo{
                font-size: 40px;
                padding: 1px;
                -webkit-text-stroke: 0.5px rgb(0, 0, 0);
            }
        }
        .boton__container{
            @include flex-column;
            justify-content: center;
            align-items: center;

            .boton__vermas{
                color: white;
                font-size: 30px;
                border: 1px, solid, map-get($estilos, rojo);
                background-color: map-get($estilos, rojo);
                margin-top: 20px;
                padding: 20px;
                -webkit-text-stroke: 0.3px rgb(0, 0, 0);
                border-radius: 5px;

                &:hover{
                    transform: scale(1.1);
                    transition: 0.5s;
            }
        }
    }
}
    /* SOBRE MI SECTION */
    .section__sobremi{
        grid-area: section;
        @include flex-row;

        .section__container--img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .sobremi-img{
                width: 55%;
                height: 100%}
        }
        .section__container--texto{
            @include flex-column;
            align-items: flex-start;
            width: 100%;
            justify-content: center;

            .container__titulo{
                @extend %titulos;
                font-size: 65px;
            }
            .container__texto{
                font-family: $normal-font;
                font-size: 20px;
                line-height: 2.5;
                margin-right: 60px;
                font-weight: bold;
            }
        }
    }
    
    /* ENTRENAMIENTOS SECTION*/
    .section__titulo--entrenamientos{
        @include flex-column;
        align-items: center;
        margin-top: 25px;
        
        .entrenamientos--titulo{
            color: map-get($estilos, rojo);
            font-size: 30px;
            font-family: $special-font;
            letter-spacing: 3px;    
        }
        .entrenamientos--subtitulo{
            margin-top: 15px;
            font-size: 50px;
            font-family: $special-font;
            letter-spacing: 3px;
        }
    }
    .section__cards{
        @include flex-row;
        justify-items: center;
        text-align: center;
        padding-top: 100px;
        width: auto;

        .card__musculacion{
            transform: skew(-10deg);
            margin-left: 30px;
        }
        .card__cardio, .card__funcional, .card__stretching{
            border-left: 1px dashed black;
            transform: skew(-10deg);
        }
        .card__stretching{
            margin-right: 38px;
        }
            .cards__img{
                height: 100px;
                width: 100px;
            }
            .cards__titulo{
                font-size: 40px;
                margin-top: 20px;
                margin-bottom: 30px; 
            }
            .cards__texto{
                padding: 15px;
                font-family: $normal-font;
                font-size: 16px;
                line-height: 2.5;
                font-weight: bold;
            }
    }
    /* Planes SECTION*/
    .section__planes{
        grid-area: section;
        width: 100%;
    
        .section__titulo--planes{
            @include flex-column;
            align-items: center;
            margin-top: 25px;
            margin-bottom: 20px;
            
            .planes--titulo{
                @extend %titulos;    
            }
        }
        .container__planes{
            @include flex-row;
            justify-items: center;
            text-align: center;
            width: auto;
            justify-content: center;

            .plan__diario, .plan__semanal, .plan__mensual{
                background: #262626;
                box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
                transition: 0.9s;
                margin-left: 30px;
                padding: 40px 60px 40px 60px;
                
                    &:hover{
                        background: $plan-red;
                        color: white;
                        box-shadow: 0 0 15px rgba(0,0,0,1);
                        transform: scale(1.1);
                        z-index: 1;
                        border-radius: 25px;
                    }
                .container__titulo--plan{
                    color: white;
                    font-size: 40px;
                    font-family: $normal-font;
                    letter-spacing: 3px;
                    margin-top: 20px;
                    margin-bottom: 40px;    
                }
                .container__precio--plan{
                    border-radius: 50%;
                    border:2px solid $plan-red;
                    margin: 5% auto 0 auto;
                    font-size: 35px;
                    color: white;
                    padding: 30px;
                }
                .container__items--plan{
                padding: 15px;
                color: white;
                font-family: $normal-font;
                font-size: 16px;
                line-height: 2.5;
                font-weight: bold;
                }
            }
        }
    } 
}
    /* CONTACTO SECTION*/
    .section__contacto{
        grid-area: section;
        @include flex-row;

        .section__form{
            @include flex-column;
            width: 50%;
            background: #262626;
            border-radius: 5px;
            margin: 100px;
            box-shadow: 0 0 15px rgba(0,0,0,1);

            .form__titulo{
                margin-top: 15px;
                font-size: 50px;
                font-family: $special-font;
                letter-spacing: 3px;
                padding-left: 32px;
                color: white;
            }
            .form__items{
                @include flex-column; 
                padding: 16px 32px;

                .label{
                    padding: 12px 0px;
                    font-size: 30px;
                    color: white;
                    font-family: $normal-font;
                }
                .input{
                    height: 40px;
                    border:2px solid $plan-red;
                    text-indent: 10px;
                    text-transform: capitalize;
                }
                .input--consulta{
                    height: 120px;
                    border:2px solid $plan-red;
                    text-indent: 10px;
                    font-size: 20px;
                    text-transform: capitalize;
                }
                #email{
                    text-transform: lowercase;
                }
                .boton__enviar{
                    width: 10rem;
                    padding: 10px;
                    margin-top: 20px;
                    font-size: 20px;
                    background: $plan-red;
                    color: white;
                    box-shadow: 0 0 15px rgba(0,0,0,1);
                    cursor: pointer;

                    &:hover{
                        transform: scale(1.1);
                        transition: 0.5s;
                    }
                }
             }
        }
    }
        .section__map{
            @include flex-column;
            width: 50%;
            margin-top: 100px;
            margin-bottom: 100px;

            .map__titulo{
                margin-top: 15px;
                font-size: 50px;
                font-family: $special-font;
                letter-spacing: 3px;
            }
            .map{
                height: 500px;
                width: 600px;
        }
    }
    /*FOOTER*/
    .footer{
        grid-area: footer;
        background-color: black;
        align-items: center;
        @include flex-row;
        justify-content: space-between;

        .footer__texto{
            @include flex-row;;
            justify-content: left;
            margin-left: 50px;
            color: white;
        }

        .footer__icons{
            @include flex-row;
            justify-content: right;
            margin-right: 80px;

            .whatsapp{
                height: map-get($estilos, iconos);

                &:hover{
                    transform: scale(0.9);
                    transition: 0.5s;
                }
            }
            .instagram{
                height: map-get($estilos, iconos);

                &:hover{
                    transform: scale(1.1);
                    transition: 0.5s;
                }
        }
    }
}
/* VISTA MOBILE (Uso el tamaño de mi celular, Galaxy S20FE */
@media only screen and (min-width: 0px) and (max-width: 412px){
.layout__index, .layout__entrenamientos, .layout__sobremi, .layout__planes, .layout__contacto{
    display: grid;
    grid-template-areas: "header header"
                         "section section"
                         "footer footer";
    grid-template-rows: 105px 1fr 70px;
    height: 100vh;

    /* HEADER */
    .header{
        grid-area: header;
        background-color: black;
        @include flex-column;
        align-items: center;
        justify-content: flex-start;
        font-family: $normal-font;
        color: white;

        .navbar__titulo{
            @include flex-row;
            font-size: 16px;
            text-transform: uppercase;
            padding: 8px;
            align-items: center;
            .logo{
                width: 50px;
            }
        }
            .navbar__nav{
                @include flex-row;

                .nav-link{
                    color: white;
                    font-size: 10px;
                    padding: 12px 12px;
                    text-decoration: none;
                    text-transform: uppercase;   

                    &:hover{
                        background-color: map-get($estilos, rojo);
                    }
                .nav-link-active{
                background-color: map-get($estilos, rojo);
                }
        }
    }
}
    /* INDEX SECTION*/
    .section__index{
        grid-area: section;
        background: no-repeat, url(../IMG/training2.jpg);
        opacity: 0.9;
        background-size: 100% 100%;
        @include flex-column;
        justify-content: center;
        font-family: $special-font;
        opacity: 0.9;
        color: white;

        .section__container{
            @include flex-column;
            justify-content: center;
            align-items: center;

            .fondo__titulo{
                font-size: 65px;
                font-weight: 1000;
                color: map-get($estilos, rojo);
                padding: 20px;
                -webkit-text-stroke: map-get($estilos, stroke);
            }
            .fondo__titulo--subtitulo{
                font-size: 30px;
                padding: 1px;
                -webkit-text-stroke: map-get($estilos, stroke);
            }
        }
        .boton__container{
            @include flex-column;
            justify-content: center;
            align-items: center;

            .boton__vermas{
                color: white;
                font-size: 25px;
                border: 1px, solid, map-get($estilos, rojo);
                background-color: map-get($estilos, rojo);
                margin-top: 15px;
                padding: 15px;
                -webkit-text-stroke: map-get($estilos, stroke);
            }
        }
    }
    /* SOBRE MI SECTION */
    .section__sobremi{
        grid-area: section;
        @include flex-column;
        flex-wrap: wrap;

        .section__container--img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .sobremi-img{
                width: 55%;
                height: 100%
            }
        }
        .section__container--texto{
            @include flex-column;
            align-items: center;
            width: 100%;
            justify-content: center;

            .container__titulo{
                font-size: 80px;
                font-weight: 1000;
                color: map-get($estilos, rojo);
                font-family: $special-font;
                display: flex;
                -webkit-text-stroke: map-get($estilos, stroke);
            }
            .container__texto{
                font-family: $normal-font;
                font-size: 16px;
                line-height: 2.5;
                margin: 0px;
                font-weight: bold;
            }
        }
    }
    /* ENTRENAMIENTOS SECTION*/
    .section__titulo--entrenamientos{
        @include flex-column;
        align-items: center;
        margin-top: 25px;

        .entrenamientos--titulo{
            color: map-get($estilos, rojo);
            font-size: 30px;
            font-family: $special-font;
            letter-spacing: 3px;
        }
        .entrenamientos--subtitulo{
            margin-top: 15px;
            font-size: 50px;
            font-family: $special-font;
            letter-spacing: 3px;
            text-align: center;
        }
    }
    .section__cards{
        @include flex-column;
        flex-wrap: wrap;
        justify-items: center;
        text-align: center;
        padding-top: 100px;
        width: auto;
        align-items: center;

        .card__musculacion, .card__cardio, .card__funcional, .card__stretching{
            border: none;
            transform: none;
        }
    }
        .cards__texto{
            padding: 15px;
            font-family: $normal-font;
            font-size: 16px;
            line-height: 2.5;
        }
        /* Planes SECTION*/
        .section__planes{
            grid-area: section;
            width: 100%;

            .section__titulo--planes{
                @include flex-column;
                align-items: center;
                margin-top: 25px;
                margin-bottom: 20px;
                
                .planes--titulo{
                    color: map-get($estilos, rojo);
                    font-size: 65px;
                    font-weight: 1000;
                    font-family: $special-font;
                    letter-spacing: 3px;
                    -webkit-text-stroke: map-get($estilos, stroke)    
                }
            }
            .container__planes{
                @include flex-column;
                justify-items: center;
                text-align: center;
                width: auto;
                justify-content: center;
    
                .plan__diario, .plan__semanal, .plan__mensual{
                    background: #262626;
                    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
                    transition: 0.9s;
                    padding: 40px 60px 40px 60px;
                    margin-left: 0px;
                    
                        &:hover{
                            background: $plan-red;
                            color: white;
                            box-shadow: 0 0 15px rgba(0,0,0,1);
                            transform: scale(1.1);
                            z-index: 1;
                            border-radius: 25px;
                        }
                    .container__titulo--plan{
                        color: white;
                        font-size: 40px;
                        font-family: $normal-font;
                        letter-spacing: 3px;
                        margin-top: 20px;
                        margin-bottom: 40px;    
                    }
                    .container__precio--plan{
                        border-radius: 50%;
                        border:2px solid $plan-red;
                        margin: 5% auto 0 auto;
                        font-size: 35px;
                        color: white;
                        padding: 30px;
                    }
                    .container__items--plan{
                    padding: 15px;
                    color: white;
                    font-family: $normal-font;
                    font-size: 16px;
                    line-height: 2.5;
                    font-weight: bold;
                    }
                }
            }
        }
       /* CONTACTO SECTION*/
       .section__contacto{
            grid-area: section;
            flex-wrap: wrap;

            .section__form{
                width: 100%;
                margin: 0px;
                border-radius: 0px;
            }
            .section__map{
                display: flex;
                align-items: center;
                text-align: center;
                width: 100%;

                .map{
                    height: 333px;
                    width: 400px;
                }
        }
    }   
}
}
/* RESPONSIVE DESKTOP */
@media only screen and (min-width: 413px) and (max-width: 945px){
.layout__index, .layout__entrenamientos, .layout__sobremi, .layout__planes, .layout__contacto{
    grid-template-rows: 105px 1fr 70px;

    /* HEADER */
    .header{
        grid-area: header;
        @include flex-column;
        align-items: center;
        justify-content: flex-start;

        .navbar__titulo{
            @include flex-row;
            font-size: 16px;
            text-transform: uppercase;
            padding: 8px;
            align-items: center;
        }
            .navbar__nav{
                .nav-link{
                    font-size: 10px;
                    padding: 12px 12px;
                }
            }
    }
    /* SOBRE MI SECTION */
    .section__sobremi{
        grid-area: section;
        @include flex-column;
    
        .section__container--texto{
            align-items: center;
        }
    }
    /* ENTRENAMIENTOS SECTION*/
    .section__titulo--entrenamientos{
        @include flex-column;
        align-items: center;

        .entrenamientos--titulo{
            font-size: 30px;
        }
        .entrenamientos--subtitulo{
            margin-top: 15px;
            font-size: 50px;
            text-align: center;
        }
    }
    .section__cards{
        @include flex-row;
        flex-wrap: wrap;
        justify-items: center;
        text-align: center;
        padding-top: 100px;
        width: auto;
        align-items: center;

        .card__cardio, .card__funcional, .card__stretching{
            transform: none;
            border: none;
        }
            .cards__titulo{
                font-size: 40px;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .cards__texto{
                padding: 15px;
                font-size: 16px;
                line-height: 2.5;
            }
    }
    /* Planes SECTION*/
    .container__planes{
        @include flex-column;
        flex-wrap: wrap;
        justify-items: center;
        text-align: center;
        width: auto;
        justify-content: center;

            .plan__diario{
                padding: 40px 80px 40px 80px;
            }
    }
    /* CONTACTO SECTION*/
    .section__contacto{
        grid-area: section;
        flex-wrap: wrap;

        .section__form{
            width: 100%;
        }
        .section__map{
            display: flex;
            align-items: center;
            text-align: center;
            width: 100%;

            .map{
                height: 416px;
                width: 500px;
            }
        }
    }
}
}
